@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Arapey:ital@0;1&family=Arbutus+Slab&family=Fanwood+Text:ital@0;1&family=Nanum+Myeongjo&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");

.main {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 20px;
}
.main .left {
  padding: 40px 0px;
}
.main .left h1 {
  font-family: "Nanum Myeongjo";
  font-size: 60px;
  font-weight: 200;
  text-shadow: rgba(17, 17, 27, 0.4) 0px 0px 16px;
}
.main .left p {
  font-size: 17px;
}

.main .left button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #cce6ff;
  border: 1px solid #cce6ff;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 300;
}
.main .left button:hover {
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 300;
}
