@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Anybody:ital,wght@0,100..900;1,100..900&family=Arapey:ital@0;1&family=Fanwood+Text:ital@0;1&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Arbutus Slab", sans-serif;
  box-sizing: border-box;
}

.navbar-container {
  width: 80%;
  height: 80px;
  margin: auto;
  padding: 0 20px;
  background-color: rgba(252, 252, 252, 0.01);
  background: linear-gradient(
    to right,
    #cce6ff 0%,
    #d6eaf8 25%,
    #ffffcc 50%,
    #ffffcc 75%,
    #ffe0b3 100%
  );

  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container ul {
  display: flex;
}
.navbar-container ul li {
  display: flex;
  margin: 0 35px;
}
.navbar-container ul li a {
  text-decoration: none;
  color: black;
}
.email {
  padding: 10px;
  border: 1px solid #cce6ff;
  background-color: #cce6ff;
  border-radius: 50%;
  position: relative; /* Postavite relativni položaj */
  width: 45px;
  height: 45px;
  color: #000000;
}
